@import url("https://fonts.googleapis.com/css?family=Raleway:400,700,900");
* {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }

body {
  font-family: 'Raleway', sans-serif; }

.header {
  background: #fff url(../img/photo.jpg) center no-repeat;
  background-size: cover;
  height: 100vh;
  position: relative;
  padding-bottom: 30px;
  /* btn start */
  /* btn end */ }
  .header__logo {
    margin-top: 50px; }
  .header__nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end; }
    .header__nav-item {
      list-style: none;
      margin-left: 34px;
      margin-top: 50px; }
      .header__nav-item-link {
        text-decoration: none;
        color: #262626;
        font-size: 16px;
        font-weight: 700;
        line-height: 25px;
        text-transform: uppercase; }
        .header__nav-item-link:hover {
          border-top: 5px solid #fb5e3c;
          padding-top: 8px; }
    .header__nav-m {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      margin-top: 100px; }
      .header__nav-m-item {
        margin-top: 20px;
        margin-left: 5px;
        z-index: 999; }
        .header__nav-m-item-link {
          color: #fff;
          font-size: 25px; }
  .header__box {
    height: 80vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start; }
  .header__title {
    width: 100%;
    font-size: 60px;
    font-weight: 900;
    line-height: 46px;
    margin-top: -44px; }
  .header__text {
    font-size: 17px;
    font-weight: 300;
    line-height: 27px;
    margin-top: -14px; }
    .header__text--position {
      width: 100%;
      max-width: 370px; }
  .header__box--style {
    background: #ff6033;
    border: 2px solid #ff6033;
    margin-top: 10px; }
    .header__box--style:hover {
      background: #fff; }
  .header__btn--style {
    color: #fff; }
    .header__btn--style:hover {
      color: #ff6033; }
  .header__box-image {
    display: block;
    position: absolute;
    top: 90%;
    left: calc(50% - 12px); }

/* About Us */
/* start img box */
.aboutus {
  background: #27b1b0;
  /* end img box */ }
  .aboutus__box {
    min-width: 100%; }
    .aboutus__box-img {
      min-width: 130%;
      margin-left: -120px; }
  .aboutus__info-box {
    margin-left: 85px;
    margin-top: 181px; }
    .aboutus__info-box-title {
      width: 100%;
      color: #fff;
      font-size: 90px;
      font-weight: 700;
      line-height: 70px; }
    .aboutus__info-box-text {
      width: 100%;
      color: #fff;
      font-size: 17px;
      font-weight: 300;
      line-height: 27px; }

/* Layout */
.ba-container {
  width: 90%;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 1200px; }

.btn-box {
  width: 100%;
  max-width: 202px;
  line-height: 53px;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5); }
  .btn-box-btn {
    display: block;
    font-size: 20px;
    font-weight: 300;
    line-height: 53px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center; }

/* Typography */
a,
input[type="submit"],
input[type="button"],
button {
  -webkit-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
  -moz-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
  -o-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
  transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in; }

input[type="submit"],
input[type="button"],
button,
.ba-button {
  display: inline-block; }

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
textarea,
select {
  -webkit-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
  -moz-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
  -o-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
  transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in; }
