
@media screen and (max-width: 768px) {

.header {

      &__m-overlay {
    		display: none;
    		position: fixed;
    		z-index: 800;
    		top: 0;
    		height: 60px;
    		left: 0;
    		right: 0;
    		background: rgba(0, 0, 0, .45);
    		transition: 0.5s;
    	}

      &__btn {
        background: url(../img/316-512.png) center no-repeat;
        background-size: contain;
        width: 35px;
        height: 35px;
        position: fixed;
        top: 13px;
        right: 30px;
        z-index: 999;
        cursor: pointer;
      }

      &__mobile {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, .75);
      }

      &__nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;

        &-item {
          margin-left: -25px;

           &-link {
             font-size: 35px;
             color: #fff;
           }
        }
      }
    }

    .aboutus {

      &__box {


        &-img {
    			
    		}
      }
    }
  }


@media screen and (max-width: 368px) {

  // .aboutus {
  //
  //   &__box {
  //     display: none;
  //   }
  // }
  }
